.f10{
    font-size:10pt; 
}
.f11{
    font-size: 11pt;
}
.f12{
    font-size: 12pt;
}
.f13{
    font-size: 13pt;
}
.f14{
    font-size: 14pt;
}
.f15{
    font-size: 15pt;
}
.f16{
    font-size: 16pt;
}
.f17{
    font-size: 17pt;
}
.f18{
    font-size: 18pt;
}
.f19{
    font-size: 19pt;
}
.f20{
    font-size: 20pt;
}
.f22{
    font-size: 22pt;
}
.f24{
    font-size: 24pt;
}
.f26{
    font-size: 26pt;
}
.f28{
    font-size: 28pt;
}
.f30{
    font-size: 30pt;
}
.f32{
    font-size: 32pt;
}
.f34{
    font-size: 34pt;
}
.f36{
    font-size: 36pt;
}

.font-white{
    color: white;
}
.tcenter{
    text-align: center;
}