.left-container{
    height: 100%;
    width: 68%;
    float: left;
    background: blue;
    position: relative;
}
.image-holder{
    height: 40%;
    width: 40%;
    margin: 3%;
    /*background: red;*/
    display: inline-block;
    /*animation-delay: 5s;*/
}

.image{
    height: 100%;
    width: 100%;
}
#map{
    margin-top: -580px;
    margin-left: -440px;
}